.image-work{
    width: 40%;
    height: 40%;
    margin-top: 2rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .slider-container {
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  
  .slider-content {
    display: flex;
    width: 20%; /* Ajustez la largeur en fonction du nombre de slides */
    /* transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 1;
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
  } */ 

 
  


