.image-work{
    width: 40%;
    height: 40%;
    margin-top: 2rem;
}

.relax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promotion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
.promo:hover,.more a:hover{
    transform: scale(1.1);
}


.promo{
    box-shadow: 0rem 0rem 0.5rem black;
    padding: 2rem;
    color: var(--light-blue);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 500ms ease-in-out;
}

.choix{
    color: white;
    background-color: var(--light-blue);
}

.galerie img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  
  }
  .galerie {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 300px 300px 300px;
      gap: 15px;
    }
  
  
  
  
  .lien-conteneur-image {
    position: relative;
    /* background-color: blueviolet; */
  }
  
  .photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
  }
  
  .lien-conteneur-image:hover .photo-hover {
    display: flex;
  }
  @media screen and (max-width: 768px){
    .galerie{
        grid-template-columns: 1fr 1fr;
       
        gap :15px
  
    }
    .promo{
        padding: 1rem;
    
  }
  }

  @media screen and (max-width: 420px){
    .galerie{
        grid-template-columns: 1fr;
        gap :15px
     
    }

  }

  .more{
    margin-top: 2rem;
    text-align: end;
  }

  .more a{
    display: inline-block;
    box-shadow: 0rem 0rem 0.5rem black;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 500ms ease-in-out;
    text-decoration: none;
  }

/* .slider-container {
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  
  .slider-content {
    display: flex;
    width: 20%; /* Ajustez la largeur en fonction du nombre de slides */
    /* transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 1;
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
  } */ 

 
  


