.concoursInternes > div,.concoursExternes > div{
  
    box-shadow: 0rem 0rem 0.5rem black;
    margin: 2rem 0rem;
    padding: 2rem;
    border-radius: 30px;
    background-color: white;
    overflow: auto;

    /* background: linear-gradient(to top, rgba(255, 255, 255, 0.918), rgba(228, 229, 233, 0.733)); */
   
    
   
    /* border-radius: 31% 69% 55% 45% / 43% 40% 60% 57% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: min-content; */
}



.logos{
    margin: 1.5rem 0rem;
}

p{
   word-wrap:break-word;
  overflow-wrap: break-word;
}
.logos img{
   margin-left: 1rem;
   height: 70px;
   width: 70px;
}

.logos img:hover{
    opacity: 0.5;
}

@media (max-width: 420px) {
    .logos img{
        height: 60px;
        width: 60px;
     }
}