.concoursInternes > div,.concoursExternes > div{
  
    box-shadow: 0rem 0rem 0.5rem black;
    margin: 2rem 0rem;
    padding: 2rem;
    border-radius: 30px;
    background-color: white;
    overflow: auto;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, 500ms ease-in-out;
}
section a{
    text-decoration: none;
    color: cadetblue;
 
}


.logos{
    margin: 1.5rem 0rem;
}

p{
   word-wrap:break-word;
  overflow-wrap: break-word;
}
.logos img{
   margin-left: 1rem;
   height: 70px;
   width: 70px;
}

.logos img:hover{
    opacity: 0.5;
}

.concoursInternes > div.animation-entrer-haut{
    opacity: 1;
    transform: translateY(0);
}
.concoursExternes > div.animation-entrer-haut{
    opacity: 1;
    transform: translateY(0);
}
h2{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, 500ms ease-in-out;
}
h2.animation-entrer-haut{
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 420px) {
    .logos img{
        height: 60px;
        width: 60px;
     }
}