@import '../variable.css';

.citation{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    
}

.bloc__citation{
    box-shadow: 0rem 0rem 0.5rem black;
    padding: 1rem 1rem;
    height: 13rem;
    width: 24rem;
    border-radius: 15px;
    /* background-color: var(--white); */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.918), rgba(206, 221, 255, 0.8));
    /* z-index: 0; */
    transition: transform 700ms ease-in-out;
}

.bloc__citation div{
    display: flex;
    gap: 2rem;
    align-items: center;
}


.bloc__citation img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.bloc__citation:hover{
    transform: scale(1.1);
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.918), rgba(206, 221, 255, 0.8)) */
}


.formulaire{
    padding: 1rem 1rem 1rem 1rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    width: 90%;
    height: 28rem;
    /* animation: entrer-gauche 1s 500ms cubic-bezier(0.075, 0.82, 0.165, 1) both; */
}
.formulaire input,.formulaire textarea{
        
        font-size: 1.2rem;
        border: 0px;
        border-bottom: 0.15rem solid black
}

    
        /* &:focus{
            outline: none;
            border-width: 0.1rem 0.1rem 0.15rem 0.1rem;
            border-style: solid;
            border-color: black;
         */
    

 form  button{
        
        width: 10rem;
        height: 2rem;
        background-color: var(--light-blue);
        border-color: var(--light-blue);
        color:white;
        border-radius: 15px;
        /* transition: transform 450ms ease-in-out, background-color 300ms 150ms ease-in-out; */
       
    }

/* FAQs */

svg{
    height: 50px;
    width: 50px;
}

.faqs__question{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
}

.faqs__question h3{
    font-size: 1.7rem;
    font-weight: bold;
    
}
@media (max-width: 1024px) {
    .faqs__question h3{
    font-size: 1.5rem;
   
}}
@media (max-width: 630px) {
    .faqs__question h3{
    font-size: 1rem;


}}


.faqs__answer{
    padding-top: 1rem;
    
}

.faqs__answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease;
}

.faqs{
    
    border-bottom: 2px black solid;
    margin-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.faqs.active .faqs__answer{
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
}

.faqs.active svg{
   transform: rotate(180deg);
}
svg{
    transition: transform 250ms ease-in;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

