@import '../variable.css';
@import '../modules/formulaire.css';

.citation{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    
}

.bloc__citation{
    box-shadow: 0rem 0rem 0.5rem black;
    padding: 1rem 1rem;
    height: 28rem;
    width: 18rem;
    border-radius: 15px;
    /* background-color: var(--white); */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.918), rgba(206, 221, 255, 0.8));
    /* z-index: 0; */
    transition: transform 700ms ease-in-out;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.temoignages{
    margin: 0;
}


.bloc__citation__image img{
    border: 0.4rem #ccc solid;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.bloc__citation__texte p,.bloc__citation__nom p{
    text-align: center;
}

.bloc__citation:hover{
    transform: scale(1.1);
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.918), rgba(206, 221, 255, 0.8)) */
}



/* FAQs */

.svg{
    height: 40px !important;
    width: 30px !important;
}

svg{
    transition: transform 250ms ease-in;
}

.faqs__question{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
}

.faqs__question h3{
    font-size: 1.6rem;
    font-weight: bold;
    max-width: 90%;
    
}
@media (max-width: 1024px) {
    .faqs__question h3{
    font-size: 1.5rem; 
}



}
@media (max-width: 630px) {
    .faqs__question h3{
    font-size: 1rem;
}
.svg{
    height: 30px !important;
    width: 20px !important;
}

}


.faqs__answer{
    padding-top: 1rem;
    
}

.faqs__answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease;
}

.faqs{
    
    border-bottom: 2px black solid;
    margin-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.faqs.active .faqs__answer{
    max-height: 400px;
    animation: fade 0.5s ease-in-out;
}

.faqs.active svg{
   transform: rotate(180deg);
}


section{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, 500ms ease-in-out;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}




.bloc__citation__texte {
    position: relative;
    padding: 1em;
    font-style: italic;
}

.bloc__citation__texte::before,
.bloc__citation__texte::after {
    content: '"';
    font-size: 3em; /* Taille des guillemets */
    color: #000;    /* Couleur des guillemets */
    position: absolute;
}

.bloc__citation__texte::before {
    left: -0.2em;  /* Ajustez au besoin */
    top: -0.2em;   /* Ajustez au besoin */
}

.bloc__citation__texte::after {
    right: -0.2em; /* Ajustez au besoin */
    bottom: -0.2em; /* Ajustez au besoin */
}
