@import '../variable.css';
@import '../modules/formulaire.css';

#map{
    height: 30rem;
    width: 80%;
    display: block;
    margin-bottom: 2rem;
  
    z-index: 0;
    margin: auto;
}

.bloc__contact{
    margin-top: 2rem;
    
}

.infocontact__information__bloc{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.918), rgba(206, 221, 255, 0.733));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 7rem;
    gap: 0.5rem;
    box-shadow: 0rem 0rem 0.5rem black;
         
    }
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap ;
}
    
/* @media screen and (max-width: 768px) {
    
    
} */


@media screen and (max-width: 1024px){
    .contact{
        flex-direction: column;
    }
    .infocontact__information__bloc{
        margin: auto;
            margin-bottom: 2rem;
            width: 80%;
    }

}