.image-work{
    width: 40%;
    height: 40%;
    margin-top: 2rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section a{
    text-decoration: none;
    color: cadetblue;
 
}

.image-news{
    height:70%;
    width: 70%;
    object-fit: contain;
}