@import '../variable.css';
.bloc__preisdent{
    box-shadow: 0rem 0rem 0.5rem black;
    padding: 2rem 1rem;

    
    border-radius: 15px;
    /* background-color: var(--white); */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.918), rgba(206, 221, 255, 0.3));
    /* z-index: 0; */

    transition: transform 500ms ease-in-out;

  

    
}
/* .bloc__preisdent::after{
    content: "";
    position: relative;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    opacity: 1;
    z-index:  -1;
} */

/* .bloc__preisdent::after:hover{
    opacity: 1;
} */

.presi{
    width: 15rem;
    height: 18rem;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, 500ms ease-in-out;
}

section{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.bloc__preisdent:hover{
    transform: scale(1.1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.918), rgba(206, 221, 255, 0.8))
}

.bloc__preisdent img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}

.bloc__preisdent div{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animation-entrer-haut{
    opacity: 1;
    transform: translateY(0);
}


