.bloc__preisdent{
    box-shadow: 0rem 0rem 0.5rem black;
    padding: 2rem 1rem;
    width: 20rem;
    height: 5rem;
    border-radius: 15px;
    background-color: var(--white);
    
}

.presi{
    width: 15rem;
    height: 15rem;
    text-align: center;
}

section{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.bloc__preisdent img{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
}

.bloc__preisdent div{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}