@import '../variable.css';

/* .image-work{
    width: 40%;
    height: 40%;
    margin-top: 2rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .slider-container {
    width: 70%;
    height: 70%;
    overflow: hidden;
    display: flex;
    margin: auto;
    
  }
  
  .slider-content {
    display: flex;
    width: 200%; 
    transition: transform 0.5s ease;
   
  }
  
  .slide {
    flex: 1;
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    
  } 
  .slide img{
    width: 100%;
    height: 90%;
  } */


  /* button {
    position: relative;
    top: 100%;
    transform: translateY(50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
  } */
  
  /* .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  } */

 
  


  

.start{
    display: flex;
    color: white;
    /* background-color: brown; */
    /* background: linear-gradient(to right, rgb(165, 50, 42,0.3), rgb(165, 50, 42,0.05)),
    url("../../assets/image/activites/journee-sportive.jpeg"); */
    background-image: url("../../assets/image/activites/randonnee/image1.jpg");
   
    
   
    /* background-image: url("/img/gog1.jpg"); */
   opacity: 1;

   /* background-size: 100%; */
   background-size:cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    
    background-position: center;
    will-change: background-image;
    
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100hv;
    
    
    flex-direction: column;
    text-align: center;
    gap: 7rem;
   
}

.start-debut{
  animation: scrollBackground 15s ease-in-out both infinite ;
}

.texte{
    font-family: var(--header-font);
    font-style: normal;
    font-weight: var(--header-font-weight);
    font-size: var(--header-font-size);
    line-height: 4rem;
    color: var(--light-grey);
    padding: 3rem 4rem;
    margin: 5rem 0rem 4rem 0rem;
    text-align: center;
    
    
    background-color: rgb(0, 0, 0,0.4);
    /* background-color:  rgb(95, 158, 160,0.4); */
    /* background:linear-gradient(to bottom left,rgb(0, 141, 54), #00da49); */
}
.galerie img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */

}
.galerie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    gap: 15px;
  }




.lien-conteneur-image {
  position: relative;
  /* background-color: blueviolet; */
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien-conteneur-image:hover .photo-hover {
  display: flex;
}
@media screen and (max-width: 601px){
  .galerie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap :15px;
    /* background-color: brown; */
    align-items: center;
    justify-content: center;
   
  }

 
  .galerie img{
    

    height: 50%;
    
    /* object-fit: cover; */
  }
  .lien-conteneur-image {
    position: relative;
    
    height: 50%;
    /* background-color: blueviolet; */
  }
  
  
}

@media screen and (max-width: 440px){
  .texte{
    font-size: 3rem;
  }
}


@keyframes scrollBackground {
    0% {
        background-image: url("../../assets/image/activites/randonnee/image1.jpg");
        
    }
    40% {
        background-image: url("../../assets/image/activites/randonnee/image2.jpeg");
     
    }
    80% {
        background-image: url("../../assets/image/activites/randonnee/image4.jpg");
        
    }
    /* 80% {
        background-image: url('../../assets/image/activites/randonnée.jpeg');
        
    } */
    100% {
        background-image: url("../../assets/image/activites/randonnee/image1.jpg");
        
    }
    
  }




  section{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, 500ms ease-in-out;
}














.section-slide{
  width: 100%;
			min-height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			/* background-color: #ede6d6; */
      background-color: (206, 221, 255, 0.733);
}

.slide-container{
  position: relative;
  width: 90vw;
  height: 80vh;
  /* border: 3px solid #ede6d6; */
  /* box-shadow: 0 0 8px 2px rgba(0,0,0,0.2); */
}

@media (max-width: 758px) {
  .slide-container{
    height: 30rem;
  }
}

@media (max-width: 448px) {
  .slide-container{
    height: 20rem;
  }
}


.slide-container .slides{
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  overflow: hidden;
}
.slide-container .slide{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.slide-container .slide p{
  display: inline-block;
  position: relative;
  color: black;
  top: -5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;

  background-color: rgb(255, 255, 255,0.2);
  
 
}
.slide-container .slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-container .slide:not(.active){
  top: 0;
  left: -100%;
}
span.next, span.prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px;
  color: #eee;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}
span.next{
  right: 20px;
}
span.prev{
  left: 20px;
}
span.next:hover, span.prev:hover{
  background-color: #ede6d6;
  opacity: 0.8;
  color: #222;
} 
.dotsContainer{
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}
.dotsContainer .dot{
  width: 15px;
  height: 15px;
  margin: 0px 2px;
  border: 3px solid cadetblue;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
  position: relative;
  top: -2rem;
}
.dotsContainer .active{
  /* background-color: #555; */
  background-color: cadetblue;
}

@keyframes next1{
  from{
    left: 0%
  }
  to{
    left: -100%;
  }
}
@keyframes next2{
  from{
    left: 100%
  }
  to{
    left: 0%;
  }
}

@keyframes prev1{
  from{
    left: 0%
  }
  to{
    left: 100%;
  }
}
@keyframes prev2{
  from{
    left: -100%
  }
  to{
    left: 0%;
  }
}

h1{
  padding: 0;
  margin: 0;
  background: transparent;
}

.cadre-fleche {
  border: 0.2rem black solid;
  border-radius: 1rem;
  padding: 1rem 0.2rem;

}

.fleche {
  font-size: 3rem;
  color: #000;
  animation: clignoter 1s infinite;
}

@keyframes clignoter {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}