/* .image-work{
    width: 40%;
    height: 40%;
    margin-top: 2rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.slider-container {
    width: 70%;
    height: 70%;
    overflow: hidden;
    display: flex;
    margin: auto;
    
  }
  
  .slider-content {
    display: flex;
    width: 200%; /* Ajustez la largeur en fonction du nombre de slides */
    transition: transform 0.5s ease;
   
  }
  
  .slide {
    flex: 1;
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    
  } 
  .slide img{
    width: 100%;
    height: 90%;
  }


  button {
    position: absolute;
    top: 100%;
    transform: translateY(50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }

 
  


