*{
    font-family: 'geologica';
    margin: 0;
    padding: 0;
}
i{
   padding: 5px;
}
header{
  padding: 10px;
}

.start{
    display: flex;
    color: white;
    background: linear-gradient(to right, rgba(52, 152, 219, 0.7), rgba(44, 62, 80, 0.7)),
    url("../img/home.webp");
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    margin: 0 auto;
    font-size: xx-large;
    flex-direction: column;
    text-align: center;
    @media screen  and (max-width: 796px){
        width: 100%;
        font-size: small;
        height: 600px;
        
    }
}
.start p,h1{
    width: 1000px;
    @media screen  and (max-width: 796px){
        font-size: medium;
        width: 250px;
        
    }
}

.word{
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 100%;
    @media screen  and (max-width: 796px){
        display: flex;
        flex-direction: column;


        
    }
}
.photo{
    display: flex;
    background-image: url('../img/presi.avif');
    width: 40%;
    height: 800px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    @media screen  and (max-width: 796px){
        width: 100%;
        
        
    }
}
.text{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 600px;
    padding: 50px;
    font-size: x-large;
    justify-content: space-around;
    @media screen  and (max-width: 796px){
        font-size: small;
        ;
    }
}

.text h1{
    align-items: center;
}


.schoolbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.A2gp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 50;
    
}
.pbx{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    
    margin: 20px;
    
}
.school{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border: solid 0.1px;
    margin: 30px;
    
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: medium;
    background-color: white;
}


.school p{
    margin: 10px;
}

.school a{
    text-decoration: none;
    color: black;
}
















button{
    width: 300px;
    height: 50px;
    background-color: rgb(10, 172, 53);
    color: white;
    @media screen  and (max-width: 796px){
        width: 200px;
        height: 30px;
        background-color: rgb(10, 172, 53);
        color: white;
    }
}
/* Sidenav menu */
.sidenav {
    display: inline;
    @media screen  and (max-width: 796px){
        display: inline;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -100%;
        background-color: white;
        padding-top: 60px;
        transition: left 0.5s ease; 
       
         
    }


  }

  /* Sidenav menu links */
  .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.3s;

  }
  img{
    width: 50px;
    height: 50px;
  }
  .sidenav a:hover {
    color: rgb(10, 172, 53);
  }
  
  .sidenav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    top: 0px;
    margin: 0;
    @media screen  and  (max-width: 796px){
        flex-direction: column;
        align-items: normal;
        
    }

  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    display: none;
    @media screen  and (max-width: 700px){
        position: absolute;
        top: 0;
        display: block;
        right: 20px;
        font-size: 36px;
    }
   
  }
  .navbar{
    align-items: center;
    display: flex; 
    width: 100%;   
    justify-content: space-between;
  }
  .navbar img{
    @media screen  and (min-width: 796px){
        display: none;
         
         
    }
  }

  /* Icône burger */
  .burger-icon span {
    display: flex;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
#openBtn{
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    @media screen  and (min-width: 796px){
        display: none;
         
         
     }
}

